/* Шрифти */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v50-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 600;
  src: url('../fonts/roboto-v50-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v50-latin-700.woff2') format('woff2');
}
/* Змінни */
:root {
  --tittle-color: #2b7fff;
  --small-color1: #747272;
  --small-color2: #4a4a4a;
  --main-color: #011c44;
  --white-color: white;
  --black-color: black;
}

/* Анімації */

@keyframes star-an {
  0% {
    transform: rotate(0) scale(1);
  }
  70% {
    transform: rotate(-45deg) scale(1.5);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}

/* Теги */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
h1,
h2 {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.12;
}
u {
  text-decoration-skip-ink: none;
}
footer {
  padding: 56px 0;
}
address {
  font-style: normal;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
}
/* Класси */
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
.nav-link a {
  color: var(--main-color);
  transition: color 0.2s;
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 56px;
}
.header-logo {
  transform: scale(1);
  transition: transform 0.2s;
}
.header-logo:hover {
  transform: scale(1.1);
}
.nav-links-list {
  display: flex;
  flex-grow: 1;
  gap: 56px;
  align-items: center;
  justify-content: center;
}
.list-of-icons {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
header .nav-link {
  font-size: 18px;
  transform: scale(1);
  transition: transform 0.2s;
}
.footer-icon-social svg {
  height: 42px;
  width: 42px;
  transform: scale(1);
  transition: fill 0.2s, transform 0.2s;
  fill: var(--white-color);
}
.footer-icon-social:hover svg,
.head-icon-social:hover svg {
  fill: var(--tittle-color);
  transform: scale(1.1);
}
.head-icon-social svg {
  height: 32px;
  width: 32px;
  transform: scale(1);
  transition: fill 0.2s, transform 0.2s;
  fill: var(--main-color);
}

.nav-link a:hover,
.adress-link a:hover,
.small-politic-text:hover {
  color: var(--tittle-color);
}
header .nav-link:hover {
  transform: scale(1.1);
}
.small-politic-text {
  margin-bottom: 16px;
  display: block;
}
.main-tittle {
  color: var(--tittle-color);
  font-size: 140px;
  line-height: 0.8;
}
.small-gray-text-header {
  color: var(--small-color2);
  font-size: 12px;
  text-align: center;
}
.secure-text {
  color: var(--small-color1);
  font-size: 13px;
}
.button-with-arrow svg {
  width: 22px;
  height: 22px;
}
.button-with-arrow {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--main-color);
  flex-shrink: 0;
  transition: fill 0.2s, background-color 0.2s, border 0.2s;
}
.button-with-arrow:last-of-type {
  transform: rotate(180deg);
}
.procedurs-lister {
  display: flex;
  gap: 32px;
  align-items: center;
}
.button-with-arrow:hover {
  fill: var(--white-color);
  background-color: var(--tittle-color);
  border: 1px solid var(--white-color);
}
.button-order {
  font-family: Roboto, sans-serif;
  background-color: var(--tittle-color);
  font-weight: 600;
  color: var(--white-color);
  border-radius: 32px;
  border: 2px solid var(--tittle-color);
  font-family: inherit;
  cursor: pointer;
  padding: 16px 32px;
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}
.button-order:hover {
  background-color: transparent;
  color: var(--main-color);
}
.order-button-and-small-text {
  max-width: 240px;
  width: 100%;
}
.form-container .button-order:hover {
  background-color: transparent;
  color: var(--white-color);
  border: 2px solid var(--tittle-color);
}
.hero-small-text {
  margin-bottom: 16px;
}
.section-form.hero-form {
  padding-top: 123px;
  padding-bottom: 127px;
  background-image: url('../img/hero-background.png');
  background-repeat: no-repeat;
  background-position: right top;
}
.section-form.hero-form .button-order {
  margin-bottom: 14px;
}
.container.hero-container {
  padding-left: 100px;
}
.section-form.about-us-section {
  padding-top: 40px;
}
.about-us-content {
  max-width: 710px;
}
.section-form.about-us-section .change-text {
  margin-bottom: 40px;
}
.container.about-us-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.star {
  position: absolute;
  animation-name: star-an;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.star:first-of-type {
  fill: var(--tittle-color);
  width: 40px;
  height: 40px;
  right: 1px;
  top: 27px;
  animation-delay: 0s;
}
.star:nth-of-type(2) {
  fill: var(--small-color1);
  width: 16px;
  height: 16px;
  right: 6px;
  top: 270px;
  animation-delay: 1s;
}
.star:nth-of-type(3) {
  fill: var(--main-color);
  width: 64px;
  height: 64px;
  right: 295px;
  bottom: 272px;
  animation-delay: 1.5s;
}
.section-form.why-us-section {
  padding: 176px 90px 48px 90px;
}
.section-form.why-us-section .section-tittle {
  margin-bottom: 48px;
}
.section-form.procedures-section {
  padding: 48px 0;
}
.section-form.contacts-section {
  padding-top: 48px;
  padding-bottom: 96px;
}
.section-tittle {
  font-weight: 700;
  font-size: 64px;
}
.section-tittle .access,
.tittle-form .access {
  color: var(--tittle-color);
}
.about-us-container .section-tittle .access {
  text-transform: capitalize;
}
.how-to-find-us-bur .tittle-form {
  color: var(--white-color);
  text-align: center;
}
.article-list-why {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
  justify-content: center;
}
.info-article {
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  padding: 24px 32px;
  height: 181px;
  width: 316px;
  background-color: var(--white-color);
  transform: scale(1);
  transition: transform 0.2s;
}

.info-article:hover {
  transform: scale(1.1);
}

.info-article svg {
  height: 48px;
  width: 48px;
  fill: var(--tittle-color);
  margin: 0 auto 8px auto;
  display: block;
}
.wave-background {
  background-image: url('../img/waves-background.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.about-us-imgs {
  position: relative;
}
.person-img {
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
}
.person-img:first-of-type {
  margin-bottom: 40px;
}
.person-img:nth-of-type(2) {
  margin-left: 176px;
}
.info-article .info-text {
  color: var(--black-color);
  line-height: 1.33;
  text-align: center;
}
.change-text {
  font-size: 22px;
  line-height: 1.73;
}
.change-text b {
  font-weight: 600;
  text-transform: capitalize;
}
.section-tittle.center-tittle {
  text-align: center;
}
.article-list-servise {
  display: flex;
  gap: 16px;
}
.article-box-procedurse {
  flex-basis: calc((100% - 32px) / 3);
}
.list-of-services {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}
.text-service {
  color: var(--white-color);
  font-size: 22px;
  line-height: 1.18;
  padding: 372px 77px 32px 115px;
  text-align: center;
}
.tittle-form {
  font-weight: 600;
  font-size: 22px;
}
.article-service {
  height: 100%;
  border-radius: 4px 120px;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
  transform: scale(1);
  transition: transform 0.2s;
}

.article-service:hover {
  transform: scale(1.05);
}

.list-of-dots {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.list-of-dots li:first-child svg {
  fill: var(--tittle-color);
}
.list-of-dots svg {
  fill: var(--small-color1);
}
.input-info {
  background: none;
  padding: 18px 33px;
  background-color: transparent;
  border-radius: 32px;
  border: 2px solid var(--small-color1);
  font-family: inherit;
  cursor: pointer;
  max-width: 310px;
  width: 100%;
  color: var(--white-color);
  transition: background-color 0.2s;
}
.input-info:hover,
.input-info:focus {
  background-color: var(--small-color1);
}
.input-info::placeholder {
  color: var(--white-color);
  font-size: 13px;
}
.input-info:focus {
  outline: none;
}
.access-to-potitic {
  color: var(--small-color1);
  font-size: 12px;
  display: inline-block;
  text-align: center;
  margin: auto;
  display: block;
  max-width: 213px;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 310px;
  width: 100%;
  margin: auto;
  align-items: center;
}
.how-to-find-us-bur {
  background: url('../img/footer-background.svg'), var(--main-color);
  background-repeat: no-repeat;
  background-position: center;
  padding: 48px 56px;
  background-size: cover;
  border-radius: 32px;
  max-width: 423px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how-to-find-us-bur .tittle-form {
  margin-bottom: 32px;
}
form .button-order {
  margin-bottom: 8px;
}

.form-and-map {
  display: flex;
  gap: 32px;
  justify-content: center;
}
/* Підвал */
footer .nav-link a,
.small-politic-text,
.adress-link a {
  color: var(--white-color);
  font-size: 16px;
  transition: color 0.2s;
}
footer {
  background: url('../img/footer-background.svg'), var(--main-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.bottles-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.google-map {
  border-radius: 32px;
  border: none;
  flex-grow: 1;
  max-width: 605px;
  min-height: 481px;
  width: 100%;
}
.footer-nav-address {
  display: flex;
  gap: 16px;
}
.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 16px;
}
.footer-nav .nav-logo {
  flex-grow: 1;
}
.footer-nav ul,
.footer-address ul {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-address li .footer-list-of-icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 31, 74, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
}
.modal-window {
  border-radius: 48px;
  width: 100%;
  max-width: 723px;
  max-height: 681px;
  height: 100%;
  background: url('../img/footer-background.svg'), var(--main-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 42px;
  position: relative;
}
.cross-button {
  background: transparent;
  position: absolute;
  border: none;
  right: 42px;
  top: 42px;
  fill: var(--white-color);
  cursor: pointer;
  transform: rotate(0deg) scale(1);
  transition: transform 0.2s;
}
.cross-button:hover {
  transform: rotate(20deg) scale(1.2);
}
.cross-button svg {
  width: 20px;
  height: 20px;
}
.backdrop.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.modal-form .hero-tittle-form,
.modal-form .tittle-form {
  color: var(--white-color);
  text-align: center;
}
.modal-form .hero-tittle-form {
  font-weight: 700;
  font-size: 64px;
}
.modal-form .tittle-form {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 32px;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
