*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--main-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
h1,
h2 {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.12;
}
u {
  text-decoration-skip-ink: none;
}
footer {
  padding: 56px 0;
}
address {
  font-style: normal;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
