@import './utils/variables';
@import './utils/fonts';
@import './base';
@import './utils/utils';
@import './utils/texts';
@import './utils/animations';
@import './components/buttons';
@import './components/icons';
@import './components/links';
@import './components/header';
@import './components/hero';
@import './components/footer';
@import './components/about-us';
@import './components/tittles';
@import './components/why-us';
@import './components/procedures';
@import './components/contacts';
@import './components/form';
@import './components/modal-window';
@import './components/mobile-menu';
