:root {
  --tittle-color: #2b7fff;
  --small-color1: #747272;
  --small-color2: #4a4a4a;
  --main-color: #011c44;
  --white-color: white;
  --black-color: black;
}
// Змінні
$br-mobile: 480px;
$br-tablet: 768px;
$br-dekstop: 1280px;
