.button-with-arrow {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  width: 44px;
  height: 44px;
  display: none;
  justify-content: center;
  align-items: center;
  fill: var(--main-color);
  flex-shrink: 0;
  transition:
    fill 0.2s,
    background-color 0.2s,
    border 0.2s;
  & svg {
    width: 22px;
    height: 22px;
  }
  &:hover {
    fill: var(--white-color);
    background-color: var(--tittle-color);
    border: 1px solid var(--white-color);
  }
  &:last-of-type {
    transform: rotate(180deg);
  }
  @media screen and (min-width: $br-tablet) {
    display: flex;
  }
}
.button-order {
  font-family: Roboto, sans-serif;
  background-color: var(--tittle-color);
  font-weight: 600;
  color: var(--white-color);
  border: 2px solid var(--tittle-color);
  font-family: inherit;
  cursor: pointer;
  padding: 12.5px 24px;
  font-size: 16px;
  border-radius: 24px;
  transition:
    background-color 0.2s,
    color 0.2s,
    border 0.2s;
  &:hover {
    background-color: transparent;
    color: var(--main-color);
  }
  @media screen and (min-width: $br-tablet) {
    padding: 16px 32px;
    font-size: 18px;
    border-radius: 32px;
  }
}
.cross-button {
  background: transparent;
  position: absolute;
  border: none;
  right: 42px;
  top: 42px;
  fill: var(--white-color);
  cursor: pointer;
  transform: rotate(0deg) scale(1);
  transition: transform 0.2s;
  & svg {
    width: 20px;
    height: 20px;
  }
  &:hover {
    transform: rotate(20deg) scale(1.2);
  }
}
