.contacts {
  padding-top: 40px;
  padding-bottom: 0;
  @media screen and (min-width: $br-tablet) {
    padding-top: 48px;
    padding-bottom: 96px;
  }
  &__box {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    gap: 24px;
    @media screen and (min-width: $br-tablet) {
      flex-direction: row;
      align-items: normal;
      gap: 32px;
    }
  }
  &__form {
    background: url('../img/footer-background.svg'), var(--main-color);
    background-repeat: no-repeat;
    background-position: center;
    padding: 48px 56px;
    background-size: cover;
    border-radius: 32px;
    max-width: 423px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .tittle-form {
      color: var(--white-color);
      text-align: center;
      margin-bottom: 24px;
      @media screen and (min-width: $br-tablet) {
        margin-bottom: 32px;
      }
    }
  }
  &__map {
    border: none;
    width: 100vw;
    flex-grow: 1;
    border-radius: 0;
    max-width: 100vw;
    min-height: 360px;
    @media screen and (min-width: $br-tablet) {
      max-width: 605px;
      min-height: 481px;
      border-radius: 32px;
    }
  }
}
