.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 310px;
  width: 100%;
  margin: auto;
  align-items: center;
  .button-order:hover {
    background-color: transparent;
    color: var(--white-color);
    border: 2px solid var(--tittle-color);
  }
  .button-order {
    margin-bottom: 8px;
  }
  &__input-info {
    background: none;
    padding: 18px 33px;
    background-color: transparent;
    border-radius: 32px;
    border: 2px solid var(--small-color1);
    font-family: inherit;
    cursor: pointer;
    max-width: 310px;
    width: 100%;
    color: var(--white-color);
    transition: background-color 0.2s;
  }
  &__input-info:hover,
  &__input-info:focus {
    background-color: var(--small-color1);
  }
  &__input-info::placeholder {
    color: var(--white-color);
    font-size: 13px;
  }
  &__input-info:focus {
    outline: none;
  }
  &__potitic {
    color: var(--small-color1);
    font-size: 12px;
    display: inline-block;
    text-align: center;
    margin: auto;
    display: block;
    max-width: 213px;
    width: 100%;
  }
}
