.header-logo {
  transform: scale(1);
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
}
.list-of-icons {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.star {
  position: absolute;
  animation-name: star-an;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  &:first-of-type {
    fill: var(--tittle-color);
    width: 40px;
    height: 40px;
    right: 1px;
    top: 27px;
    animation-delay: 0s;
  }
  &:nth-of-type(2) {
    fill: var(--small-color1);
    width: 16px;
    height: 16px;
    right: 6px;
    top: 270px;
    animation-delay: 1s;
  }
  &:nth-of-type(3) {
    fill: var(--main-color);
    width: 64px;
    height: 64px;
    right: 295px;
    bottom: 272px;
    animation-delay: 1.5s;
  }
}
.wave-background {
  background-image: url('../img/waves-background.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.list-of-dots {
  display: flex;
  gap: 24px;
  justify-content: center;
  li:first-child svg {
    fill: var(--tittle-color);
  }
  svg {
    fill: var(--small-color1);
  }
}
