.header-logo {
  transform: scale(1);
  transition: transform 0.2s;
}
.header-logo:hover {
  transform: scale(1.1);
}
.list-of-icons {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.footer-icon-social svg {
  height: 42px;
  width: 42px;
  transform: scale(1);
  transition: fill 0.2s, transform 0.2s;
  fill: var(--white-color);
}
.footer-icon-social:hover svg,
.head-icon-social:hover svg {
  fill: var(--tittle-color);
  transform: scale(1.1);
}
.head-icon-social svg {
  height: 32px;
  width: 32px;
  transform: scale(1);
  transition: fill 0.2s, transform 0.2s;
  fill: var(--main-color);
}
.star {
  position: absolute;
  animation-name: star-an;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.star:first-of-type {
  fill: var(--tittle-color);
  width: 40px;
  height: 40px;
  right: 1px;
  top: 27px;
  animation-delay: 0s;
}
.star:nth-of-type(2) {
  fill: var(--small-color1);
  width: 16px;
  height: 16px;
  right: 6px;
  top: 270px;
  animation-delay: 1s;
}
.star:nth-of-type(3) {
  fill: var(--main-color);
  width: 64px;
  height: 64px;
  right: 295px;
  bottom: 272px;
  animation-delay: 1.5s;
}
.wave-background {
  background-image: url('../img/waves-background.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.list-of-dots {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.list-of-dots li:first-child svg {
  fill: var(--tittle-color);
}
.list-of-dots svg {
  fill: var(--small-color1);
}
.info-article svg {
  height: 48px;
  width: 48px;
  fill: var(--tittle-color);
  margin: 0 auto 8px auto;
  display: block;
}
.footer-nav .nav-logo {
  flex-grow: 1;
}
.footer-address li .footer-list-of-icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
