.footer,
.header {
  .nav-link {
    a {
      display: inline-block;
      color: var(--main-color);
      transition: color 0.2s;
    }
    a:hover {
      color: var(--tittle-color);
    }
  }
}
.adress-link a {
  color: var(--white-color);
  font-size: 16px;
  transition: color 0.2s;
  &:hover {
    color: var(--tittle-color);
  }
}
