.nav-link {
  a {
    display: inline-block;
    color: var(--main-color);
    transition: transform 0.2s, color 0.2s;
  }

  a:hover {
    transform: scale(1.1);
    color: var(--tittle-color);
  }
}
.adress-link a {
  color: var(--white-color);
  font-size: 16px;
  transition: color 0.2s;
  &:hover {
    color: var(--tittle-color);
  }
}
