.mobile-menu {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  padding: 16px 20px;
  background-color: var(--white-color);
  transform: translateX(100%);
  display: none;
  pointer-events: none;
  z-index: 10;
  &__list-of-icons {
    display: flex;
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__icon-social {
    & svg {
      fill: var(--main-color);
      height: 32px;
      width: 32px;
      transform: scale(1);
      transition: transform 0.2s, fill 0.2s;
    }
    &:hover svg {
      fill: var(--tittle-color);
      transform: scale(1.1);
    }
  }
  &__links {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    a {
      font-size: 14px;
    }
  }
  &.is-open {
    transform: translateX(0);
    display: block;
    pointer-events: auto;
  }
  & .logo {
    margin-bottom: 32px;
  }
}
.menu-cross-button {
  right: 40px;
  top: 16px;
  & svg {
    fill: var(--main-color);
  }
}
