.backdrop {
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 31, 74, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
  z-index: 100;
}
.modal-window {
  border-radius: 48px;
  width: 100%;
  max-width: 400px;
  max-height: 681px;
  background: url('../img/footer-background.svg'), var(--main-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 42px;
  position: relative;
  @media screen and (min-width: $br-tablet) {
    max-width: 700px;
  }
}
.modal-form {
  &__tittle {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 8px;
    color: var(--white-color);
    text-align: center;
    @media screen and (min-width: $br-tablet) {
      font-size: 64px;
      margin-bottom: 40px;
    }
  }
  .tittle-form {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 32px;
    color: var(--white-color);
    text-align: center;
    @media screen and (min-width: $br-tablet) {
      font-size: 22px;
    }
  }
}
