.procedurs-lister {
  display: flex;
  gap: 32px;
  align-items: center;
}
.section-form.procedures-section {
  padding: 48px 0;
}
.article-list-servise {
  display: flex;
  gap: 16px;
}
.article-box-procedurse {
  flex-basis: calc((100% - 32px) / 3);
}
.list-of-services {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}
.text-service {
  color: var(--white-color);
  font-size: 22px;
  line-height: 1.18;
  padding: 372px 77px 32px 115px;
  text-align: center;
  position: relative;
  z-index: 3;
}
.article-service {
  position: relative;
  height: 100%;
  overflow: hidden;
  transform: scale(1);
  border-radius: 4px 120px;
  transition: transform 0.2s;
}
.article-service img {
  border-radius: 4px 120px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.article-service::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
  z-index: 2;
}
.article-service:hover {
  transform: scale(1.05);
}
