.procedures {
  padding: 0;
  @media screen and (min-width: $br-tablet) {
    padding: 48px 0;
  }
  &__lister {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  &__list {
    margin-bottom: 16px;
    overflow: hidden;
    @media screen and (min-width: $br-tablet) {
      margin-bottom: 32px;
    }
  }
  &__article-list {
    align-items: stretch;
  }
}

.servise-box {
  height: auto;
  &__text {
    color: var(--white-color);
    line-height: 1.18;
    font-size: 20px;
    padding: 344px 72px 24px 112px;
    text-align: center;
    position: relative;
    z-index: 3;
    @media screen and (min-width: $br-dekstop) {
      font-size: 22px;
      padding: 372px 77px 32px 115px;
    }
  }
  &__article {
    max-width: 100%;
    position: relative;
    max-height: 456px;
    height: 100%;
    overflow: hidden;
    transform: scale(1);
    border-radius: 4px 120px;
    transition: transform 0.2s;
    @media screen and (min-width: $br-tablet) {
      max-width: 344px;
    }
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(
        180deg,
        rgba(1, 28, 68, 0) 47.4%,
        rgba(1, 28, 68, 0.73) 82.66%,
        #011c44 99.06%
      );
      z-index: 2;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  &__img {
    border-radius: 4px 120px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
