.procedures {
  padding: 48px 0;
  &__lister {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  &__list {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
  }
  &__article-list {
    display: flex;
    gap: 16px;
  }
}

.servise-box {
  flex-basis: calc((100% - 32px) / 3);
  &__text {
    color: var(--white-color);
    font-size: 22px;
    line-height: 1.18;
    padding: 372px 77px 32px 115px;
    text-align: center;
    position: relative;
    z-index: 3;
  }
  &__article {
    position: relative;
    height: 100%;
    overflow: hidden;
    transform: scale(1);
    border-radius: 4px 120px;
    transition: transform 0.2s;
  }
  &__article::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    );
    z-index: 2;
  }
  &__article:hover {
    transform: scale(1.05);
  }
  &__img {
    border-radius: 4px 120px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
