.section {
  &__tittle {
    font-weight: 700;
    font-size: 64px;
    &--center {
      text-align: center;
    }
    @media screen and (max-width: $br-tablet) {
      font-weight: 500;
      font-size: 32px;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 24px;
    }
  }
}
.tittle-form {
  font-weight: 600;
  font-size: 22px;
}
