.section {
  &__tittle {
    font-weight: 500;
    font-size: 32px;
    font-family: 'Roboto', system-ui;
    margin-bottom: 24px;
    &--center {
      text-align: center;
    }
    @media screen and (min-width: $br-tablet) {
      font-weight: 700;
      font-size: 64px;
      font-family: 'Play', sans-serif;
      margin-bottom: 40px;
    }
    & .access.capitalize {
      font-weight: 700;
    }
  }
}
.tittle-form {
  font-weight: 600;
  font-size: 22px;
}
