.why-us {
  padding: 176px 90px 48px 90px;
  .section-tittle {
    margin-bottom: 48px;
  }
  &__article-list {
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.why-article {
  &__info {
    border-radius: 32px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
    padding: 24px 32px;
    height: 181px;
    width: 316px;
    background-color: var(--white-color);
    transform: scale(1);
    transition: transform 0.2s;
  }
  &__info:hover {
    transform: scale(1.1);
  }
  &__info svg {
    height: 48px;
    width: 48px;
    fill: var(--tittle-color);
    margin: 0 auto 8px auto;
    display: block;
  }
  &__text {
    color: var(--black-color);
    line-height: 1.33;
    text-align: center;
  }
}
