.section-form.why-us-section {
  padding: 176px 90px 48px 90px;
}
.section-form.why-us-section .section-tittle {
  margin-bottom: 48px;
}
.article-list-why {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
  justify-content: center;
}
.info-article {
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  padding: 24px 32px;
  height: 181px;
  width: 316px;
  background-color: var(--white-color);
  transform: scale(1);
  transition: transform 0.2s;
}
.info-article:hover {
  transform: scale(1.1);
}
.info-article .info-text {
  color: var(--black-color);
  line-height: 1.33;
  text-align: center;
}
